@model GeekQuiz.Models.TriviaOption

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TriviaOption</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsCorrect)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsCorrect)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
